<div class="container">
  <select class="form-select" aria-label="Default select example">
    <option selected>類別</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>

  <div class="total" id="totalAmount">
    <p>總金額:</p><span class="totalAmount" id="totalAmount">{{totalAmount}}</span>
  </div>
  {{#each records}}
  <table class="table table-hover">
    <tbody>
      <tr class="table-active">
        <th scope="row" id="index-icon">{{this.category.icon}}</th>
        <td>
          <div>
            <p id="index-name">{{this.name}}</p>
            <small id="index-date">{{this.date}}</small>
          </div>
        </td>
        <td id="index-amount">{{this.amount}}</td>
        <td class="edit-delete-btn">
          <a class="btn btn-success" href="./records/{{ this._id }}/edit">修改</a>
          <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline">
            <button class="btn btn-danger" type="submit">刪除</button>
          </form>
      </tr>
    </tbody>
  </table>
  {{/each}}
  <a href="/records/new" class="create-btn btn btn-primary">新增支出</a>
</div>